.notify-btn {
  position: relative;
  height: 24px;
  padding: 0 0 0 27px;
  display: flex;
  background: none;
  border: none;
}
.notify-btn::before {
  width: 16px;
  height: 100%;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
  content: "";
}

.notify-btn__count {
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #fff;
}
